@use "../utilities/mixins";

/*---------- Global ---------*/
* {
    margin: 0px;
    padding: 0px;
}

html {
    overflow-x: auto;

    @include mixins.full-pantalla
}

body {
    overflow-x: hidden;

    @include mixins.full-pantalla
}

h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-weight: 600;

}

ul {
    a {
        text-decoration: none;
        color: white;
    }
}