/*----- Form -----*/
.contacto {
    background-image: url(https://www.moto1pro.com/sites/default/files/unsplash_adwaid-nk-l1ce-yizej0-unsplash.jpg);
    background-size: cover;
}

main {
    form {
        background-color: rgba(0, 0, 0, 0.507);
        padding: 20px;
        border-radius: 1.5rem;
    }
}